body {
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.6;
}

#question-container div {
    margin-bottom: 20px;
}

label {
    display: block; /* Faz cada resposta aparecer em uma nova linha */
}
/*a partir de agr lab4*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #022752;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.background-color {
    background-color: #030b53;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.background-position {
    background-image: url('https://www.vhv.rs/dpng/d/550-5505151_tree-of-life-clipart-with-roots-hd-png.png');
    background-repeat: no-repeat;
    background-position: right top;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
}
nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

main img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #020855;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

h1, h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom:2px;
}